html {
  height: 100%;
}
body {
  margin: 0;
  background-color: darkslategray;
  min-height: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audio-player {
  width: 90%;
  padding: 40px;
}
